@model IEnumerable<DIO_Camp.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Produtos</li>

    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Detalhes dos Produtos
            <a asp-action="Create" class="btn btn-info pull-right fa fa-plus">Adcionar Novo Produto</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantidade)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categoria)
                                </th>
                                <th>Operação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantidade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
